contourpy==1.0.7
cycler==0.11.0
deap==1.4.1
filterpy==1.4.5
fonttools==4.39.4
imageio==2.34.1
importlib-resources==5.12.0
kiwisolver==1.4.4
lazy_loader==0.4
matplotlib==3.7.1
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
networkx==3.3
numpy==1.23.1
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
packaging==23.1
Pillow==9.5.0
psutil==6.0.0
pyparsing==3.0.9
pyquaternion==0.9.9
pyserial==3.5
python-dateutil==2.8.2
PyYAML==6.0.1
rknn-toolkit-lite2 @ file:///home/orangepi/rknn-toolkit2/rknn_toolkit_lite2/packages/rknn_toolkit_lite2-1.6.0-cp310-cp310-linux_aarch64.whl
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-image==0.24.0
scipy==1.10.1
six==1.16.0
tifffile==2024.6.18
tornado==4.5.3
yacs==0.1.8
yamspy==0.3.3
zipp==3.15.0
